.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.player-class {
  height: 10vmin;
  position:absolute;
  /* top: 250px; /*it pushes away div element from top 10px down Remember with
  browser window*/
  /*left:500px;
  right:10px;
  bottom:20px;  */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}